.main {
    text-align: center;
    border-radius: 10px;
    background: #d9ddef;
    padding: 80px;
    margin: 100px 20%;
}

.error-message {
    background: red;
    color: black;
    text-align: center;
    margin: 0 15px;
}

.form-input {
    margin-bottom: 20px
}

.confirm-button {
    width: 100%;
    text-align: center;
    margin-top: 70px;
}
