<div class="content-wrapper">
  <div class="product-property-value">
    <span class="product-property">Name: </span>
    <span class="product-value">{{ orderElement?.product?.name }}</span>
  </div>
  <div class="product-property-value">
    <span class="product-property">Category: </span>
    <span class="product-value">{{ orderElement?.product?.category }}</span>
  </div>
  <div class="product-property-value">
    <span class="product-property">Price:</span>
    <span class="product-value">{{ orderElement?.product?.price }}</span>
    <span class="product-value">Euro</span>
  </div>
  <div class="product-property-value">
    <span class="product-property">Quantity:</span>
    <span class="product-value">{{ orderElement?.quantity }}</span>
  </div>
  <img [src]="orderElement?.product?.imageURL">
  <div class="buttons-wrapper">
    <a class="button primary-button" (click)="editQuantity()">Edit quantity</a>
    <a class="button" (click)="removeOrder()">Remove from cart</a>
  </div>
</div>

<ip-generic-popup header="Edit quantity" [buttons]="editQuntityPopupButtons" (action)='closeEditQuntityPopup($event)' [isOpened]="editQuantityPopupOpened">
    <label>Choose quantity:</label>
    <input type="text" #quantityValue [value]="orderElement.quantity">
</ip-generic-popup>