.product-wrapper {
    padding: 20px 150px;
}

.product-container {
    position: relative;
}

.product-container .product-image-container {
    width: 500px;
}

.product-container .product-image-container img {
    width: 100%;
    height: 100%;
}

.product-container .product-info-container {
    text-align: center;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 200px;
}

.action-link {
    display: block;
    text-decoration: underline;
    font-size: 23px;
    margin-bottom: 30px;
    cursor: pointer;
}

.back-icon {
    height: 15px;
    width: auto;
    margin-right: 10px;
}

.product-property-value {
    line-height: 30px;
  }
  
  .product-property {
    font-size: 20px;
  }
  
  .product-value {
    color: grey;
  }

  .add-to-cart-button {
    position: relative;
    top: 30px;
  }
