<div class="product-wrapper">
    <a class="action-link" (click)="goBack()">Back</a>
    <div class="product-container">
        <div class="product-image-container">
            <img src="https://www.mathworks.com/matlabcentral/mlc-downloads/downloads/submissions/39110/versions/6/screenshot.jpg">

        </div>
        <div class="product-info-container">
            <h4 class="title">Item title: Title</h4>
            <p class="rating">Rating: 4.5/5</p>
            <button class="button" (click)="addProductToCart()">Add to cart</button>
        </div>
    </div>
    <div class="product-description-container">
        <h2>Description:</h2>
        <p class="product-descrition"> Lorem ipsum dolor sit amet, per brute utroque commune ea, dicta electram ne nec, vim errem adolescens at. Eum eu aperiri suscipiantur comprehensam. Harum elaboraret sea no. No homero antiopam hendrerit est.

            Vide aeterno voluptatum duo no. Dicam commune definiebas te pri, ut vis essent albucius incorrupte. Mei legimus senserit constituto cu. Quo tota augue vituperata ei, elaboraret intellegebat eos id. Duo eu mundi invenire. Ea munere accumsan vis, mei at dictas definitionem, sed noster ponderum conclusionemque at. Ne mei omnis solet, mea prima deserunt vulputate ne, et vel alii aliquam rationibus.
            
            Cu nec omnis scriptorem, cum saperet electram te. Id augue simul usu, vidisse docendi democritum vim in, eu mea ridens alienum. Mel id nullam accumsan vituperatoribus, et alii euismod scriptorem eum. Ne sed omnes mnesarchum, eirmod prompta persequeris in eos. Ei pri oblique nostrum percipitur, te quot everti dolorem has. Ne erant ornatus percipit quo, dolore pertinacia eu qui, tota errem sanctus mei ea.
            </p>
    </div>
</div>