<div class="product-wrapper">
  <a class="action-link" (click)="goBack()">
    <img src="../../../assets/back-icon.png" class="back-icon">
    Back
  </a>
  <div class="product-container">
    <div class="product-image-container">
      <img *ngIf="product?.imageURL" [src]="product?.imageURL">
    </div>
    <div class="product-info-container">
      <div class="product-property-value">
        <span class="product-property">Name: </span>
        <span class="product-value">{{ product?.name }}</span>
      </div>
      <div class="product-property-value">
        <span class="product-property">Category: </span>
        <span class="product-value">{{ product?.category }}</span>
      </div>
      <div class="product-property-value">
        <span class="product-property">Available quantity: </span>
        <span class="product-value">{{ product?.availableQuantity }}</span>
      </div>
      <div class="product-property-value">
        <span class="product-property">Price:</span>
        <span class="product-value">{{ product?.price }}</span>
        <span class="product-value">Euro</span>
      </div>
      <div class="product-property-value">
        <span class="product-property">Store:</span>
        <span class="product-value">{{ product?.store?.firstName }} {{ product?.store?.lastName }}</span>
      </div>
      <a *ngIf="user" class="button primary-button add-to-cart-button" (click)="addProductToCart()">Add to cart</a>
    </div>
  </div>
  <div class="product-description-container">
    <h2>Description:</h2>
    <p class="product-descrition">{{ product?.description}}
    </p>
  </div>
</div>