<div class="content-wrapper" [ngClass]="{ 'clickable': !inCartSection }">
  <div class="product-property-value">
    <span class="product-property">Name: </span>
    <span class="product-value">{{ product?.name }}</span>
  </div>
  <div class="product-property-value">
    <span class="product-property">Category: </span>
    <span class="product-value">{{ product?.category }}</span>
  </div>
  <div class="product-property-value">
    <span class="product-property">Price:</span>
    <span class="product-value">{{ product?.price }}</span>
    <span class="product-value">Euro</span>
  </div>
  <img [src]="product.imageURL">
  <div class="buttons-wrapper" *ngIf="inCartSection">
    <a class="button primary-button" (click)="editQuantity()">Edit quantity</a>
    <a class="button" (click)="removeOrder()">Remove from cart</a>
  </div>
</div>

<ip-generic-popup header="Edit quantity" [buttons]="editQuntityPopupButtons" (action)='closeEditQuntityPopup($event)' [isOpened]="editQuantityPopupOpened">
    <label>Choose quantity:</label>
    <input type="text" [(ngModel)]="productQuantity">
</ip-generic-popup>