<div class="tabel-wrapper">
  <div class="tabel-row" *ngFor="let orderElement of order?.products; let i = index">
    <ip-cart-row [orderElement]="orderElement" (orderElementDeleted)="removeProduct($event)" (orderElementChanged)="editProductQuantity($event)"></ip-cart-row>
  </div>
  <div class="buy-products-button" *ngIf="order?.products?.length; else noProducts">
    <a class="button primary-button" (click)="buyProducts()">Buy products</a>
  </div>
</div>

<ng-template #noProducts>
  <div class="noProducts">
    <label>No products in the cart</label>
  </div>
</ng-template>