.tabel-wrapper {
  margin: 20px;
  position: relative;
}

.tabel-row {
  margin: 30px 20px;
  border: 1px solid black;
}

.buy-products-button {
  width: 100%;
  text-align: center;
  margin-top: 70px;
}

.noProducts {
  width: 100%;
  text-align: center;
  margin-top: 200px;
  font-size: 25px;
}