<div class="content-wrapper">
  <div class="product-property-value">
    <span class="product-property">Name: </span>
    <span class="product-value">{{ product?.name }}</span>
  </div>
  <div class="product-property-value">
    <span class="product-property">Category: </span>
    <span class="product-value">{{ product?.category }}</span>
  </div>
  <div class="product-property-value">
    <span class="product-property">Available quantity: </span>
    <span class="product-value">{{ product?.availableQuantity }}</span>
  </div>
  <div class="product-property-value">
    <span class="product-property">Price:</span>
    <span class="product-value">{{ product?.price }}</span>
  </div>
  <div class="product-property-value">
    <span class="product-property">Rate:</span>
    <span class="product-value">{{ product?.rate }}</span>
  </div>
  <div class="product-property-value">
    <span class="product-property">Store:</span>
    <span class="product-value">{{ product?.store }}</span>
  </div>
  <div class="product-property-value">
    <span class="product-property">Description:</span>
    <span class="product-value">{{ product?.description }}</span>
  </div>

  <img [src]="product.imgURL" alt="Ice cream" height="42" width="42">
</div>