<div class="content-wrapper" *ngIf="isOpened">
  <div class="header">
    <h4 class="modal-title">{{ header }}</h4>
    <a class="button close-icon-button" (click)="close()">X</a>
  </div>
  <div class="body">
    <ng-content></ng-content>
  </div>
  <div class="footer">
    <a class="button" [ngClass]="{'primary-button': button.primary}" (click)="confirm(button)" *ngFor="let button of buttons">
      {{ button.name }}
    </a>
    <a class="button cancel-button" (click)="close()">Cancel</a>
  </div>
</div>
